<div class="explore">
    <div class="explore__devider">*****</div>
    <ul class="categories">
        {% for category in site.data.categories %}
            <li class="categories__item"><a href="{{ '/categories/' | append: category.slug | prepend: site.baseurl }}">{{ category.name }}</a></li>
        {% endfor %}
		<li class="categories__item"><a href="{{ '/' | prepend: site.baseurl }}">All</a></li>
    </ul>
     <div class="explore__label">Copyright Anmol Paudel - <a href="https://github.com/kronik3r/daktilo">Theme</a></div>
</div>
