---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$dorian: #E8E8E8;
$iron: #2A3439;
$cloudy: #E17259;
$bluegreen: #0FA3B1; 

@import
    "mixins",
    "default",
    "404"
;

img {
	margin-top: 15px;
	margin-bottom: 15px;
}

img + strong {
	margin: 0;
	display: block;
	text-align: center;
	font-style: normal; 
	font-size: smaller;
	line-height: normal;
	color: green;
}

img + strong + em {
	margin: 0;
	display: block;
	text-align: center;
	font-style: normal; 
	font-size: smaller;
	line-height: normal;
	color: green;
}
